* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: local("Great Vibes"), local("GreatVibes-Regular"),
    url("../fonts/great-vibes-v5-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/great-vibes-v5-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url("../fonts/roboto-slab-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v7-latin-regular.woff") format("woff");
}

header {
  width: 1400px;
  min-height: 110px;
  margin: auto;
}

.navigation {
  width: 940px;
  height: 110px;
  min-height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.logo {
  font-family: "Great Vibes", sans-serif;
  font-size: 20px;
  color: #fed136;
}

.menu {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: #222222;
  transition-property: color;
}

.menu-item a{
  font-size: 14px;
  text-decoration: none;
  color: #222222;
  transition: color 0.2s linear;
}

.menu-item a:hover {
  color: #fed136;
}

main {
  width: 1400px;
  padding-top: 80px;
  margin: auto;
}

.services {
  width: 940px;
  min-height: 530px;
  margin: auto;
}

.services-name {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}

.services-text {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  color: #777777;
}

.services-all {
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 75px;
}

.srvices-item-comerce {
  width: 290px;
  min-height: 100%;
}

.srvices-item-comerce::before {
  display: block;
  width: 70px;
  height: 70px;
  content: " ";
  background: url("../img/Icon-Basket.png");
  background-repeat: no-repeat;
  border-radius: 70px;
  border: 3px solid #fed136;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
  background-position: center;
}

.srvices-item-responsive {
  width: 290px;
  min-height: 100%;
}

.srvices-item-responsive::before {
  display: block;
  width: 70px;
  height: 70px;
  content: " ";
  background: url("../img/Icon-Laptop.png");
  background-repeat: no-repeat;
  border-radius: 70px;
  border: 3px solid #fed136;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
  background-position: center;
}

.srvices-item-security {
  width: 290px;
  min-height: 100%;
}

.srvices-item-security::before {
  display: block;
  width: 70px;
  height: 70px;
  content: " ";
  background: url("../img/Icon-Locked.png");
  background-repeat: no-repeat;
  border-radius: 70px;
  border: 3px solid #fed136;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
  background-position: center;
}

.item-name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #222222;
}

.item-text {
  font-family: "Roboto Slab", sans-serif;
  text-indent: 20px;
  font-size: 14px;
  color: #777777;
  margin-top: 20px;
}

.contact-us {
  height: 670px;
  background-color: #222222;
 }

.contact {
  width: 100%;
  height: 560px;
  background: url("../img/Map.png");
  background-repeat: no-repeat;
  background-color: hsla(0, 100%, 100%, 0.5);
  background-position: 100% 0;
  margin: auto;
}

.contact-name {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.contact-text {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  color: #777777;
}

.profile-form {
  width: 940px;
  height: 315px;
  padding-top: 20px;
  margin: auto;
}

.profile-your {
  width: 940px;
  height: 215px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.your-name {
  width: 440px;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.your-name input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 440px;
  height: 50px;
  padding-left: 20px;
  border: none;
}

.messager textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 15px;
  border: none;
}

.send {
  display: inline-block;
  display: block;
  width: 240px;
  height: 65px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fed136;
  color: #ffffff;
  margin: auto;
  border: none;
}
.user:valid {
  outline: 3px solid green;
}
.user:invalid {
  outline: 3px solid red;
}
.profile-form input[type="email"]:valid {
  outline: 3px solid green;
}
.profile-form input[type="email"]:invalid {
  outline: 3px solid red;
}
.profile-form textarea:valid {
  outline: 3px solid green;
}
.profile-form textarea:invalid {
  outline: 3px solid red;
}
