* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

heder {
  width: 320px;
  margin: auto;
  position: relative;
}
.feast {
  width: 320px;
  height: 540px;
  background-repeat: no-repeat;
  background: url("../img/fon_mobil.jpg");
  background-position: 100% 0;
  filter: brightness(75%);
  margin: auto;
}

.wrap {
  width: 320px;
  height: 540px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* .feast-user {
  width: 320px;
  height: 540px;
    position: absolute;
  color: #ffffff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}  */

.menu {
  height: 130px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: inline-block;
  width: 175px;
  height: 35px;
  font-size: 14px;
}

.log-in {
  width: 85px;
  height: 35px;
  color: #ffffff;
  background-color: inherit;
  border: 0;
}

.log-in:hover {
  border: 3px solid #ffffff;
  border-radius: 35px;
}

.sign-up {
  width: 85px;
  height: 35px;
  color: #ffffff;
  background-color: inherit;
  border: 0;
}

.sign-up:hover {
  border: 3px solid #ffffff;
  border-radius: 35px;
}

.holiday {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.feast-titel {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

.feast-text {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.find {
  display: block;
  width: 280px;
  height: 35px;
  border-radius: 35px;
  border: 0;
  color: #ffffff;
  background: #ff4e50;
  margin: auto;
}

main {
  width: 320px;
  margin: auto;
}

.partner {
  height: 1175px;
}

.partner h2 {
  font-size: 22px;
  text-align: center;
  padding-top: 70px;
  margin: auto;
  font-weight: bolder;
}

.container {
  min-height: 210px;
  margin-top: 30px;
}

.partner-user {
  min-height: 122px;
}

.partner-user-container {
  list-style-type: none;
  margin: auto;
  text-align: center;
}

.user-foto {
  width: 122px;
  height: 122px;
  margin: auto;
  position: relative;
}

.foto {
  width: 122px;
  height: 122px;
  border-radius: 122px;
  background-position: 100% 0;
  margin: auto;
}

.user-foto::after {
  display: block;
  width: 30px;
  height: 30px;
  content: " ";
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  border: #ffffff solid 4px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.tv::after {
  background-color: red;
  background-image: url("../img/Shape 128.png");
}

.flask::after {
  background-color: #ffa507;
  background-image: url("../img/Shape 155.png");
}

.cafe::after {
  background-color: #1cd7ad;
  background-image: url("../img/Shape 153.png");
}

.plane::after {
  background-color: #4e73db;
  background-image: url("../img/Shape 170.png");
}

.name {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 14px;
}

.container p {
  max-width: 220px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: auto;
  color: #8f8f8f;
}

.see-outher-partners {
  display: block;
  width: 274px;
  height: 37px;
  color: red;
  background-color: inherit;
  border-radius: 37px;
  border: red 2px solid;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }
  .wrap {
    width: 768px;
  }
  .feast {
    width: 768px;
    background: url("../img/tabletka.jpg");
  }
  .menu {
    width: 660px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: auto;
  }
  .feast-titel {
    width: 492px;
    font-size: 50px;
    padding-top: 80px;
    margin: auto;
  }
  main {
    width: 760px;
  }
  .partner-user-container {
    width: 512px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

@media (min-width: 960px) {
  .wrap {
    width: 960x;
  }
  .feast {
    width: 100%;
    background: url("../img/desktop.jpg");
  }
  .feast-titel {
    width: 500px;
  }
  main {
    width: 960px;
  }
  .partner-user-container {
    width: 940px;
  }
}
