.header {
  height: 1000px;
  position: relative;
}

.header_fon {
  width: auto;
  height: 1000px;
  background: url("../img/picture-min.jpg");
}

.fon_img {
  height: 1000px;
  background: url("../img/Layer 15-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  background-position: 100% 0;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header_fon {
    background-image: url("../img/picture@2x-min.jpg");
  }
  .fon_img {
    background-image: url("../img/Layer 15@2x-min.jpg");
  }
}

.header_content {
  width: 1200px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
}

.content_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.navigation_logo {
  font-size: 30px;
}

.navigation_menu {
  width: 610px;
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.item_link,
.item_icon {
  text-decoration: none;
  color: #ffffff;
  fill: #ffffff;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.item_link::after {
  display: block;
  height: 3px;
  content: " ";
  background-color: #fed136;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.item_link:hover::after {
  opacity: 0.99;
}

.item_link--hover:hover,
.item_icon--hover:hover {
  color: #fed136;
  fill: #fed136;
}

.content_templates {
  font-size: 72px;
  text-align: center;
}

.content_mogo {
  font-size: 150px;
  text-align: center;
}

.content_learn {
  display: block;
  width: 160px;
  height: 40px;
  font-size: 14px;
  margin: auto;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: inherit;
}

main {
  width: 1200px;
  margin-bottom: 85px;
  margin: auto;
}

.services_p {
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  font-size: 24px;
  color: black;
  text-align: center;
}

.services_h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  counter: black;
  text-align: center;
  line-height: 3;
}

.services_h2--after::after {
  display: block;
  width: 60px;
  height: 3px;
  content: " ";
  background-color: #f38181;
  margin: auto;
}

.services_container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

.container_list {
  display: inline-block;
  width: 33%;
  min-height: 150px;
  }
.list_partner {
  display: inline-block;
  padding: 0 50px;
  position: relative;
}

.partner_name {
  display: inline-block;
    top: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #838282;
  margin-top: -14px;
}

.partner_description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #bababa;
}

.partner_icons {
  width: 32px;
  height: 32px;
  position: absolute;
  fill: #95e1d3;
  top: 0;
  left: 0;
}

.team {
  min-height: 915px;
}

.team_we {
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  font-size: 24px;
  color: black;
  text-align: center;
}

.team_meet {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-align: center;
  line-height: 3;
}

.team_meet--after::after {
  display: block;
  width: 60px;
  height: 3px;
  content: " ";
  background-color: #f38181;
  margin: auto;
}

.team_text {
  width: 945px;
  min-height: 175px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #bababa;
  text-align: center;
  padding-top: 45px;
  margin: auto;
}

.team_cotainer {
    height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cotainer_our {
  width: 380px;
  height: 555px;
}

.our_foto {
  display: block;
   height: 470px;
  background-color: #95e1d3;
  position: relative;
}

.foto_jpg {
   position: relative;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.foto_jpg--hover:hover {
  -webkit-transform: translateX(-20px) translateY(-20px);
      -ms-transform: translateX(-20px) translateY(-20px);
          transform: translateX(-20px) translateY(-20px);
}

.foto_fon {
  width: 380px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  background-image: url("../img/Rectangle 14-min.jpg");
  background-size: cover;
  opacity: 0.8;
}

.foto_jpg:hover .foto_fon {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.foto_icons {
  width: 220px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.foto_jpg:hover .foto_icons {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icons_network {
  width: 55px;
  height: 55px;
  background-color: #fce38a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  fill: #f38181;
}

.icons_networrk:not(:nth-child(1)) {
  border-left: 1px solid #ed5e25;
}

.icons_network--hover:hover {
  fill: #ffffff;
  background-color: #f38181;
}

.our_surname {
  text-transform: uppercase;
  font-size: 15px;
  color: #424242;
  text-align: center;
  margin-top: 30px;
}

.our_qualification {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: oblique;
  text-align: center;
  color: #999999;
  padding-top: 15px;
}

footer {
  width: 1200px;
  min-height: 65px;
  border-top: 1px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 85px;
}

.template {
  font-size: 14px;
  color: #999999;
}

small {
  color: #f38181;
  font-size: 14px;
}

.address {
  width: 480px;
  height: 40px;
  border: 1px solid #999999;
  position: relative;
}

.email {
  width: 330px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  border: 1px solid #999999;
  position: absolute;
  top: 0;
  left: 0;
}

.email input {
  width: 330px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  font-size: 15px;
  padding: 0;
  border: none;
}

.signature {
  width: 150px;
  height: 40px;
  background: #95e1d3;
  position: absolute;
  top: 0;
  right: 0;
}

.subscrible {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}